<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurants in Mysore</title>
</head>

<body>
  <h1>Restaurants in Mysore</h1>
  <ul>
    <% restaurants.forEach((restaurant)=> { %>
      <li>
        <h2>
          <%= restaurant.name %>
        </h2>
        <p>Rating: <%= restaurant.rating %>
        </p>
        <p>Address: <%= restaurant.street %>, <%= restaurant.city %> - <%= restaurant.pincode %>
        </p>
        <img src="<%= restaurant.image_url %>" alt="<%= restaurant.name %>">
      </li>
      <% }); %>
  </ul>
</body>

</html>